transformers==4.31.0
accelerate==0.20.3
bitsandbytes==0.39.1
peft==0.3.0
datasets==2.13.1
openai==0.27.8
torch==2.0.1
numpy==1.25.2
pandas==2.0.3
scikit-learn==1.2.2
plotly==5.15.0
tqdm==4.65.0
black==23.3.0
pylint==2.17.4
wilds==2.0.0
einops==0.6.1
nlpaug==1.1.11
scipy==1.11.1
wandb==0.15.4
openicl
umap-learn
kaleido
sacremoses